<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <title>Similar Anime</title>
  <style type="text/css">
    body {
      margin: 40px auto;
      max-width: 1000px;
      line-height: 1.6;
      font-size: 18px;
      color: #444;
      padding: 0 10px
    }

    h1,
    h2,
    h3 {
      line-height: 1.2
    }
  </style>
  <style>
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
    }

    .container2 {
      display: flex;
      height: 100vh;
    }

    .content {
      flex-grow: 1;
      padding: 20px;
      box-sizing: border-box;
    }

    .sidebar {
      width: 250px;
      flex-grow: 1;
      background-color: #f0f0f0;
      padding: 20px;
      box-sizing: border-box;
    }

    .card {
      width: calc(17% - 20px);
      margin: 5px;
      text-align: center;
      border: 1px solid #ccc;
      /* Thin border around each card */
      padding: 5px;
      /* Optional: Adds some space inside the border */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 350px; /* Set a fixed height for the card */
    }

    .card img {
      width: 100%;
      height: auto;
      cursor: pointer;
    }

    .card a {
      display: block;
      margin-top: 10px;
      text-decoration: none;
      color: #007BFF;
      
      /* Blue color for the link */
    }
    

    .card .show-name {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Limit to 3 lines */
        -webkit-box-orient: vertical;
        width: 100%;
        font-size: 14px;
        height: 70px;
    }

    .card-buttons {
          display: flex;
          justify-content: space-between;
      }

      .card-button {
          background-color: #007BFF;
          color: white;
          border: none;
          padding: 5px 10px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 14px;
          margin: 2px 1px;
          cursor: pointer;
          border-radius: 5px;
      }

      .card-button:hover {
          background-color: #0056b3;
      }
  </style>
</head>

<body>
  <header></header>
  <main>

    <div class="container2">
      <div class="sidebar">
        <a href="{{ url_for('update_search') }}">
        <h2>Find Similar Anime</h2>
        </a>
        {% if input_ids %}
        <a class="button" href="{{ url_for('update_search', start=1 )}}">Find similar to these!</a>
        {% endif %}

        {% for input_id in input_ids %}
        <div class="anime-input">
            <div class="input-name">{{ input_id[1] }}</div>
            <a href="{{ url_for('update_search', remove=input_id[0]) }}">x</a>
            <a href={{ input_id[2] }} target="_blank">MAL</a>
        </div>
        {% endfor %}
      </div>
      <div class="content">
        <!-- Your search bar and other content goes here -->
        <form action="/r" method="GET" autocomplete="off">
          <input name="search" type="search"  placeholder="Enter anime name">
          <input type="submit" value="Search">
        </form>
        <h3>
          Similar anime search
        </h3>
        <ul>
          <li>Enter anime name</li>
          <li>Click on a search result to find similar anime</li>
        </ul>

        <div class="container">
            {% for result in results %}
            <div class="card">
                <img src={{ result[3] }} alt={{ result[1] }}>
                <div class="show-name">{{ result[1] }}</div>
                <a href={{ result[2] }} target="_blank">Open on MAL</a>
                <div class="card-buttons">
                  <a class="button" href="{{ url_for('update_search', i=result[0]) }}">Add</a>
                  <a class="button" href="{{ url_for('update_search', s=result[0]) }}">Like this</a>
                </div>
            </div>
            {% endfor %}
        </div>

      </div>
    </div>


  </main>
  <footer></footer>
</body>

</html>