<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>Similar Anime</title>
    <style type="text/css">body{margin:40px
auto;max-width:650px;line-height:1.6;font-size:18px;color:#444;padding:0
10px}h1,h2,h3{line-height:1.2}</style>
  </head>
  <body>
    <header></header>
    <main>
      <h3> 
        Search similar anime 
      </h3>
      <form action="/" method="POST">
        <input name="search" type="search">
      </form>
      
      <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            {% if context == 'similar' %}
            <th>Similarity</th>
            {% endif %}
          </tr>
          </thead>
          <tbody id="search-results">
            {% for result in results %}
            <tr>
              <td><a href="{{ url_for('get_similar', anime_id=result[0]) }}">{{ result[1] }}</a></td>
              {% if context == 'similar' %}
              <td>{{ result[2] }}</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
      </table>
    </main>
    <footer></footer>
  </body>
</html>
